html,body{
    padding:0;
    margin:0;
    width: 100vw;
    height:100% ;
}

body{
     background-image: url(../assets/background4.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
     
    
    height:100%;
    box-shadow: inset 0 0 1em black;
}
    
   
nav{
background-color:  rgb(26, 34, 80);
height: 100px;
 margin: 0;
 padding: 0;
 display: flex;
align-items: center;
gap: 30px;
 color: white;
 border-radius: 10px;

}
a{
    color: white;
    font-size: 25px;
    text-decoration: none;

}
ul{
    list-style: none;
     margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 500px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}

div{
    display: flex;
    flex-direction: column;
   justify-content: center;
     justify-items: center;
     font-size: 10px;
    background-color: rgb(26, 34, 80);
    border-radius: 10px;
     box-shadow:  0 0 10px  15px rgb(255, 255, 255);
     

}
h1{
    color:white;
    
}
h2{
    color: white;
    font-family: 'Times New Roman';
}

img{
    width: 100px;
    height: 150px;
   

}

