html,body{
    padding:0;
    margin:0;
    width: 100vw;
    height:100% ;
}

body{
     background-image: url(../assets/background4.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
     
    
    height:100%;
    box-shadow: inset 0 0 3em black;
}
    
   
nav{
background-color:  rgb(26, 34, 80);
height: 100px;
 margin: 0;
 padding: 0;
 display: flex;
align-items: center;
gap: 30px;
 color: white;
 border-radius: 10px;

}
a{
    color: white;
    font-size: 25px;
    text-decoration: none;

}
ul{
    list-style: none;
     margin: 0;
    padding: 0;
}

main{
    width: 100%;
    padding:60px;
    box-sizing: border-box;
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap:20px;
}

.cartao{
    background-color: rgb(26, 34, 80);
    width: 300px;
    /* height:500px; */
    border: 0;
     font-size: 10px;
     box-shadow:  0 0 20px  5px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
     align-items: center;
     padding: 0px;
   
    

}
h1{
    color:white;
    font-weight: normal ;
    font-size: 30px;
    justify-items: center;
    text-decoration: underline;
    padding: 0px;

   
    
}
h2{
    color:white;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    padding: 0px;
    margin:0px;

}

img{
    width: 220px;
    height: 220px;
    box-shadow: 0px 0px 15px 10px rgb(255, 255, 255);

}

#bases{
    display: grid;
    grid-template-columns: 6 ;
    grid-template-rows: 5 ;
}
.bolinha{
    background-color:rgb(38, 38, 207);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px white solid;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6,20px);
}

.Produtos{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    
}

.posicao{
     display:grid;
    color:white;
    background-color:rgb(38, 38, 207);
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
    text-justify: center;
   border-radius: 15px;
   border: 2px white solid;
}