html,body{
    padding:0px;
    margin:0px;
    width: 100%;
    height:100%;
    


}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    justify-items: center;
    align-content: center;
}

section{
    background-color:  #000000;
    width: 400px;
    height:400px;
    color: white;
    border: 0;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
   box-shadow:  0 0 10px  15px #1791B1;
   font-size: 30px;

}

.envelope{
    display:flex;
    flex-direction: column;
   
}

input{
    width: 300px;
    height: 40px;
    border-color:  black;
    border-style:   groove;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    
    

}

button{
    width: 70px;
    height: 40px;
    background-color: rgb(24, 23, 23);
    border-radius: 20px;
    border-style: groove;
    color:white;
    font-family: 'Times New Roman';
    font-size: 18px;
   

}

label{
    font-family: 'Times New Roman';
}

