
html,body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height:100%;
    


}

body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../assets/abstract.wallpaper.png);
    background-repeat: no-repeat ;
    background-size: cover;
     box-shadow: inset 0 0 10em rgb(64, 200, 205);
} 
   




img{
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-content: center;
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}
@keyframes spin{
    0%{
    transform: rotateX(180deg);
    }
    50%{
transform: rotateX(180deg)rotateX(180deg);
    }
    100%{
transform: rotateX(180deg)rotateX(180deg)rotateZ(180deg)
    }
}

.texto{
     font-size: 50px;
   
    color: rgb(64, 200, 205);
   text-shadow: 2px 2px 10px black;
    
 animation-name: around;
 animation-duration: 5s;
 animation-iteration-count: infinite;
}

@keyframes around{
    0%{
        transform: rotateX(-15deg);
    }
    25%{
        transform: rotateX(-15deg)rotateY(-15deg);  
    }
    50%{
       transform: rotateX(-15deg);
    }
    100%{
        transform: rotateX(-15deg)rotateY(-15deg);
    }
}
.texto1{
text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 50px;
}

.texto2{
    display: flex;
    text-shadow: 2px 2px 10px black;
    color: white;
    font-size: 40px;

}

aside h1,
aside h2,
aside p {
  margin: 5px 0; /* controla o espaço entre eles */
}

.texto{
    font-family: 'Times New Roman', Times, serif;
}



   

    


form{
    
    justify-items: flex-end;
    align-content: center;
    
}

section{
     position: relative; 
    background-color: #000000;
    width: 400px;
    height:400px;
    color: white;
    border: 0;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
   box-shadow:   
  0 0 40px rgba(64, 200, 205, 0.6),
  0 0 60px rgba(64, 200, 205, 0.4);
;
   font-size: 30px;

}

.envelope{
    display:flex;
    flex-direction: column;
   
}

input{
    width: 300px;
    height: 40px;
    border-color:  black;
    border-style:   groove;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #F5F7F8;
    color:#0A1F2F;
    

}

button{

    width: 300px;
    height: 40px;
    background-color: rgb(64, 200, 205);
    border-radius: 20px;
    border-style: groove;
    color:white;
    font-family: 'Times New Roman';
    font-size: 18px;
    
    
}

button:hover{
    background-color:  rgb(50, 153, 156);
    transform:scale(1.1);
    cursor:pointer;
}

label{
    font-family: 'Times New Roman';
    color: rgb(64, 200, 205);
}

i {
    color: white;
    font-size: 40px;
}

.icons {
    margin-top: 20px;
    gap:10;
    position: absolute;
    bottom: 20px;   /* distância do fundo */
    right: 20px;    /* distância da direita */
    display: flex;
    gap: 15px;
}


i:hover{
    cursor: pointer;
    color:rgb(64, 200, 205);
}
#texto3{
    font-size: 35px;
     font-family: 'Times New Roman';
    color: rgb(64, 200, 205);
    text-decoration: underline;
}
