html,body{
    padding:0;
    margin:0;
    width: 100vw;
    height:100% ;
}

body{
     background-image: url(../assets/background4.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
     
    
    height:100%;
    box-shadow: inset 0 0 3em black;
}

nav{background-color:  rgb(26, 34, 80);
height: 100px;
 margin: 0;
 padding: 0;
 display: flex;
align-items: center;
gap: 30px;
 color: white;
 border-radius: 10px;
}

a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}


.fundo{
    width: 100%;
    padding: 60px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{  justify-items: center;
    align-content: center;
    }
  

section{
    display:flex;
    background-color:rgb(180, 218, 241);
    width: 320px;
    height:500px;
    color: white;
    border: 0;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
   box-shadow:  0 0 10px  15px rgb(26, 34, 80);
   font-size: 30px;

}
.envelope{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
   
}

input{
    width: 250px;
    height: 40px;
    color:white;
    border-color: black;
    border-style:   groove;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color:rgb(26, 34, 80);
  
    

}

button{

    width: 300px;
    height: 40px;
    background-color: rgb(26, 34, 80);
    border-radius: 20px;
    border-style: groove;
    color:white;
    font-family: 'Times New Roman';
    font-size: 18px;
    
    

   

}

label{
    font-family: 'Times New Roman';
    color: black;
}

#cadastro{
    display:flex;
    background-color:rgb(180, 218, 241);
    width: 320px;
    height:500px;
    color: black;
    border: 0;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
   box-shadow:  0 0 10px  15px rgb(26, 34, 80);
   font-size: 10px;
}



