html,body{
    padding:0;
    margin:0;
    width: 100vw;
     min-height: 100vh;
    overflow-x: hidden;
    overflow-y:hidden ;
}

body{
     background-image: url(../assets/abstract.wallpaper.png);
    background-repeat: no-repeat ;
    background-size: cover;
     
    
    height:100%;
    box-shadow: inset 0 0 3em black;
}
    
   
nav{
background-color: rgba(64, 200, 205, 0.342);
height: 100px;
 margin: 0;
 padding: 0;
 display: flex;
align-items: center;
gap: 30px;
 color: white;
 border-radius: 10px;

}
a{
    color: white;
    font-size: 25px;
    text-decoration: none;

}
ul{
    list-style: none;
     margin: 0;
    padding: 0;
}

main{
    width: 100%;
    
    padding:60px;
    box-sizing: border-box;
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap:20px;
}

.cartao{
    background-color: rgb(0, 0, 0);
    width: 300px;
    /* height:500px; */
    border: 0;
     font-size: 10px;
     box-shadow:  0 0 40px rgba(64, 200, 205, 0.6),
  0 0 60px rgba(64, 200, 205, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
     align-items: center;
     padding: 0px;
   
    

}
h1{
    color: rgb(64, 200, 205);
   text-shadow: 2px 2px 10px black;
  font-weight: normal ;
    font-size: 30px;
    justify-items: center;
    text-decoration: wavy;
    padding: 0px;

   
    
}
h2{
    color:rgb(255, 255, 255);
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    padding: 0px;
    margin:0px;
   
}


img{
    width: 100px;
    height: 100px;
    

}
img:hover{
    cursor:pointer;
    transform:scale(1.6);
}
#bases{
    display: grid;
    grid-template-columns: 6 ;
    grid-template-rows: 5 ;
}
.bolinha{
    background-color:rgb(255, 255, 255);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px rgb(0, 0, 0) solid;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6,20px);
}

.Produtos{
    display:grid;
    grid-template-columns: repeat(4,1fr)
    

}

.posições{
     display:grid;
    color:white;
    place-items: center;

}
i{
    color:white;
font-size: 30px;
}

#cartao-icones{
    display:flex;
    flex-direction: row;
}